.card-contain {
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

}

.card__img {
  display: flex;
  flex-direction: column;
  padding: 0;

}

.card__img-top {
  width: 100%;
}

.card__img-bottom {
  width: 100%;
}
