.grid {
  display: flex;
  // flex-wrap: wrap;

}

.grid__boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: calc(100% / 6 - 6rem);
  min-width: 15rem;
  margin: 2rem -1rem;
}

.grid__boxes-ind {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  margin: 1rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

}
