* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: green;
}

.full-page {
  margin: 0;
}

.container {
  max-width: 60rem;
  margin: auto;
}

.options {
  background: pink;

  &__title {
    margin: 0;

  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__tab-list {
    vertical-align: center;
    padding: 1rem;
  }
}
